body {
    margin: 0;
    padding: 0;
    direction: rtl; /* Ensure proper alignment for Arabic text */
    font-family: Arial, sans-serif;
}

.message{

    background-color: white;
    color: #6ac098;
    text-align: center;
    padding: 30px;
    font-size: 120%;
    height: 250px;
}


.contact-alignment{
    display: flex;
    gap: 300px;
    margin-right: 50px;
}


.form{
    color: #6ac098;
}


.input-fields div{
    padding: 20px;
}

.input-fields input{
    width: 450px;
    height: 25px;
    border-radius: 7px;
    color: #6ac098;
}

.input-fields textarea{
    width: 450px;
    height: 50px;
    border-radius: 7px;
    color: #6ac098;
}

#contact-button{
    width: 455px;
    height: 35px;
    text-align: center;
    background-color: #d9eddf;
    margin-right: 22px;
    
}

.input-fields input,textarea,button{
    box-shadow: 0 4px 10px rgba(223, 255, 233, 0.6);
    border-radius: 7px;
}

.info{
    margin-right: 70px;
    margin-left: 10px;
    color: #6ac098;
}

.info-cards {
    display: flex;
    align-items: center; /* Vertically aligns items */
    justify-content: flex-start; /* Aligns items closer together */
    direction: rtl; /* Ensures right-to-left layout for Arabic */
    margin-bottom: 15px; /* Adds spacing between rows of cards */
}

.text-content {
    display: flex;
    flex-direction: column; /* Stacks h3 and p vertically */
    align-items: flex-start; /* Aligns text to the start (left of the icon in rtl) */
    margin-top: 20px;
    margin-right: 20px; /* Controls the spacing between the text and the icon */
}

.info h{
    margin: 0;
}

.info p{
    color: #6ac098;
    font-size: 75%;
    margin: 2px 0 0;
}


.info i{
    color: #ffffff;
    background-color: #6ac098;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    font-size: 200%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-alignment{
    direction: ltr; 
    unicode-bidi: embed; 
}